@charset "utf-8";

// コンテンツ領域の幅
$contentWidth:1020px;

// 特色
$sigOrgPurple:#9400d3;
$sigPurple:#710ea5;
$sigBlack:#000;
$sigRed:#db4a48;
$sigBlue:#0f4ba3;
$sigTeal:#00a0af;
$siteWideBorderColor:#555;

// ベース文字色
$baseStringColor:#333;

